* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 75px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#name, #surname, #email {
    margin: 1rem 0 0;
    width: 12rem;
    height: 2rem;
}

#first-dropdown{
    padding: 5px;
}

#first-radio, #second-radio, #third-radio, #fourth-radio{
    margin: 10px;
}

#first-check, #second-check, #third-check, #fourth-check {
    margin: 12px;
}
